server:
  port: 8080
spring:
  datasource:
    url: jdbc:mysql://rm-bp1iqc5osv14kzg4fjo.mysql.rds.aliyuncs.com:3306/cloud_order?useSSL=false
    username: root
    password: asD484942
    driver-class-name: com.mysql.jdbc.Driver
mybatis:
  type-aliases-package: cn.itcast.user.pojo
  configuration:
    map-underscore-to-camel-case: true
logging:
  level:
    cn.itcast: debug
  pattern:
    dateformat: MM-dd HH:mm:ss:SSS